@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@theme {
  --font-family-display: "Inter", serif;
  --main-color: #ff5f49;
  --main-color2: #f2f9ff;
  --main-color3: #f1faf5;
  --secondary-color: #097969;
  --secondary2-color: #06594f;
  --text-color: #ffffff;
  --color-black: #28282b;
  --color-white: #fdfdfd;
  --card-color: #f6eee8;
}

.bdr {
  border: 1px solid red;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-family-display);
}
